<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

	  <!--Production-->
    <!--Hosting server flag : Set 0 for Damco and 1 for Other-->
    <add key="HostingServer" value="1" />
    <!--Connection String-->
	  <add key="ConnectionString" value="Data Source=ORGWEB1NEWER;Initial Catalog=Feedback360_Prod;User ID=sa;Password=f33db@ck;Trusted_Connection=False;Connection Timeout=0" />
      <!--<add key="ConnectionString" value="Data Source=(local);Initial Catalog=Feedback360_Dev2;Trusted_Connection=True;Connection Timeout=0" />-->
	 
	  <!--SMTP Server Settings-->
	  <add key="SmtpServer" value="smtp.123-reg.co.uk"/>
	  <add key="SmtpServerPort" value="25"/>
	  <add key="SmtpUserId" value="admin@i-comment360.com"/>
	  <add key="SmtpPassword" value="CompPass00"/>
	  <add key="SmtpMailFrom" value="admin@i-comment360.com"/>

	  <!--Report Path Setting-->
	  <add key="ReportPath" value="D:\360_Degree_Feedback\feedback360\ReportGenerate\" />

	  <!--Error Log Settings-->
	  <add key="ErrorLogPath" value="D:\\360_Degree_Feedback_Report_Scheduler\\RegenerateReportSchedular\\" />

	  <!-- Report Server URL-->
	  <add key="ReportServerUrl" value="http://ORGWEB1NEWER:80/ReportServer"/>
		<!--END-->
	  <!-- Report Server URL-->
	  <add key="ReportServerDirectory" value="/FeedBack360/"/>
	  <!--END-->
	  <!--Develop-->
	  <!--Local -->
	  <add key="SmtpServer" value="172.29.8.75" />
	  <add key="SmtpServerPort" value="25" />
	  <add key="SmtpUserId" value="" />
	  <add key="SmtpPassword" value="" />
	  <add key="SmtpMailFrom" value="sumneshl@damcogroup.com" />
	  <!--Report Path Setting-->

	  <add key="ReportPath" value="C:\Documents and Settings\User\Desktop\360DegreeFeedback_CR9\Feedback360\feedback360\ReportGenerate\" />
	  <!--Error Log Settings-->
    <add key="ErrorLogPath" value="E:\Damco Projects\OrgRef\trunk\Feedback360ReportScheduler\FeedbackReportScheduler\bin\Debug\" />
	  <add key="ErrorLogPath" value="D:\360_Degree_Feedback_Report_Scheduler\RegenerateReportSchedular\" />
     <!--Report Server URL-->
    <add key="ReportServerUrl" value="http://localhost:8080/ReportServer" />
	  
    <add key="ReportServerUrl" value="http://84.22.181.250/ReportServer"/>
	  <add key="ClientSettingsProvider.ServiceUri" value="" />
	  <!--end-->
	 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>