USE [Feedback360_Dev2]
GO
/****** Object:  StoredProcedure [dbo].[UspProgrammeReportDateSelect]    Script Date: 06/23/2015 10:42:51 ******/
DROP PROCEDURE [dbo].[UspProgrammeReportDateSelect]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UspProgrammeReportDateSelect]

@ProgrammeID int

as 

SELECT ReportAvaliableFrom,ReportAvaliableTo from Programme 
WHERE ProgrammeID=@ProgrammeID
GO
