<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--Hosting server flag : Set 0 for Damco and 1 for Other-->
    <add key="HostingServer" value="0"/>
    
    <!--Connection String-->
    <add key="ConnectionString" value="Data Source=172.29.8.183;Initial Catalog=Feedback360_QA;User ID=sa;Password=sa123;Trusted_Connection=False;Connection Timeout=0"/>

    <!--SMTP Server Settings-->
    <add key="SmtpServer" value="172.29.8.75"/>
    <add key="SmtpServerPort" value="25"/>
    <add key="SmtpUserId" value=""/>
    <add key="SmtpPassword" value=""/>
    <add key="SmtpMailFrom" value="sumneshl@damcogroup.com"/>

    <!--Email Image Setting-->
    <add key="ImagePath" value="D:\\Sumnesh\\OrgRef\\Code\\Feedback360\\feedback360\\EmailImages\\"/>

    <!--Error Log Settings-->
    <add key="ErrorLogPath" value="D:\\Sumnesh\\OrgRef\\Code\\" />

    <!-- Feedback URL -->
    <add key="FeedbackURL" value="http://localhost:2879/feedback360/Module/Feedback/"/>
    
    <!-- Participant URL-->
    <add key="ParticipantURL" value="http://localhost:2879/feedback360/Login.aspx"/>
    
  </appSettings>  
    
</configuration>