<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Hosting server flag : Set 0 for Damco and 1 for Other-->
    <add key="HostingServer" value="0" />
    <!--Connection String-->
    <add key="ConnectionString" value="Data Source=172.29.9.7;Initial Catalog=360_Degree_Feedback_Prod;User ID=sa;Password=spice;Trusted_Connection=False;Connection Timeout=0" />
    <!--SMTP Server Settings-->
    <add key="SmtpServer" value="172.29.8.75" />
    <add key="SmtpServerPort" value="25" />
    <add key="SmtpUserId" value="" />
    <add key="SmtpPassword" value="" />
    <add key="SmtpMailFrom" value="sumneshl@damcogroup.com" />
    <!--Report Path Setting-->
    <!--<add key="ReportPath" value="D:\FeedabackReports\" />-->
    <add key="ReportPath" value="C:\Documents and Settings\User\Desktop\360DegreeFeedback_CR9\Feedback360\feedback360\ReportGenerate\" />
    <!--Error Log Settings-->
    <add key="ErrorLogPath" value="C:\\Documents and Settings\\User\\Desktop\\FeedbackReportScheduler\\" />
    <!-- Report Server URL-->
    <add key="ReportServerUrl" value="http://cons-183:8080/ReportServer" />
    <!--<add key="ReportServerUrl" value="http://84.22.181.250/ReportServer"/>-->
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>